@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply antialiased;
  }
  
  body {
    @apply bg-black text-white;
  }
}

@layer utilities {
  .text-shadow-glow {
    text-shadow: 0 0 20px currentColor;
  }
}
